*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* width: 100vw; */
    height: 100vh;
    background: linear-gradient(150deg, 
        rgb(134, 170, 218),     /* sky blue */
        rgba(124, 232, 124, 0.905),     /* soft green */
        hsla(60, 58%, 71%, 0.756)    /* light yellow */);
}


.form-container, .img-container {
    height: 100%;
}


.img-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}