*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to bottom, 
  rgb(155, 204, 220) 0%,     /* sky blue */
  rgb(97, 171, 97) 50%,     /* soft green */
  rgb(220, 231, 153) 100%     /* light yellow */
);
}
.nav-bg{
    background: linear-gradient(to bottom, 
    rgb(173, 216, 230) 0%,     /* sky blue */
    rgb(144, 238, 144) 50%,     /* soft green */
    rgb(255, 255, 204) 100%     /* light yellow */
    );
    color: white;
    box-shadow: 1px 1px 10px 1px rgba(81, 81, 81, 0.637),
                1px 1px 10px 1px rgba(81, 81, 81, 0.637),
                1px 0.5px 20px 1px rgba(81, 81, 81, 0.637),
                1px 1px 5px 0px rgba(81, 81, 81, 0.637);
}
.hero{
    height: 100vh;
    color: white;
}
.hero > div{
    background-color: rgba(77, 181, 77, 0.66);
}
.logo{
    max-width: 150px;
    height: 50px;
    width: 80px;
}