*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

}

.nav-bg{
    background: linear-gradient(to bottom, 
    rgb(173, 216, 230) 0%,     /* sky blue */
    rgb(144, 238, 144) 50%,     /* soft green */
    hsl(60, 100%, 90%) 100%     /* light yellow */
    );
    color: white;
    box-shadow: 1px 1px 10px 1px rgba(81, 81, 81, 0.637),
                1px 1px 10px 1px rgba(81, 81, 81, 0.637),
                1px 0.5px 20px 1px rgba(81, 81, 81, 0.637),
                1px 1px 5px 0px rgba(81, 81, 81, 0.637
    );

    
    
}
#header{
    position: sticky;
    top: 1px;
    z-index: 100;
}

.hero {
    background-color: rgba(77, 181, 77, 0.66);
    background-image: url(../src/IMG/home-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.hero > div{
    background-image: 
        linear-gradient(150deg, 
        rgb(173, 216, 230),     /* sky blue */
        rgba(144, 238, 144, 0.661),     /* soft green */
        hsla(60, 100%, 90%, 0.622)    /* light yellow */
    );
    height: 100%;
    width: 100%;

}
.but{
    padding: 8px 12px;
    border: 2px solid rgba(144, 238, 144);
    transition: all 0.3s;
    font-weight: 600;
    color: hsla(60, 100%, 90%) ;
}
.but:nth-of-type(1){
    background-color: rgba(144, 238, 144);
    color: white;
}
.but:nth-of-type(1):hover{
    border: 2px solid rgba(144, 238, 144);
    background-color: transparent;
}

.but:nth-of-type(2):hover{
    background-color: rgba(144, 238, 144);
    color: white;
    font-weight: 600;
}

.logo{
    max-width: 150px;
    height: 50px;
    width: 80px;
}